/*Thanks to GeodeArc
some code was "inspried" by his GeoDots (imo the best rice ever)
link to GeoDots: https://github.com/GeodeArc/GeoDots
*/

* {
    font-family: CaskaydiaNerdFont;
    border: none;
    border-radius: 0px;
}

window#waybar {
    border-bottom: 0px solid #ffffff;
    background: transparent;
    transition-property: background-color;
    transition-duration: 0.5s;
}

#custom-power {
    background-color: #292c3c;
    margin: 0px 2px;
    padding: 0px 10px;
    color: #c6a0f6;
    border: 2px solid #a6da95;
    border-radius: 15;
}

#custom-power:hover {
    box-shadow: inherit;
    background-color: #232533;
    border-radius: 15;
    color: #a6da95;
}

#window {
    margin: 0px 2px;
    padding: 0px 10px;
    color: #c6a0f6;
    border-radius: 15;
}

#workspaces {
    background: #292c3c;
    padding: 3px 3px;
    border-radius: 10px;
    color: #a6da95;
    font-size: 15;
    border: 2px solid @foreground;
}

#workspaces button {
    padding: 0px 5px;
    margin: 2px 2px;
    color: #c6a0f6;
    transition: all 0.1s ease-in-out;
}

#workspaces button:hover {
    color: #a6da95;
    background: transparent;
    box-shadow: inherit;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15;
    padding: 0px 12px;
    box-shadow: inherit;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #292c3c;
    margin: 0px 2px;
    padding: 0px 10px;
    color: #c6a0f6;
    border: 2px solid #a6da95;
    border-radius: 15;
}

#clock:hover {
    box-shadow: inherit;
    background-color: #232533;
    border-radius: 15;
    color: #a6da95;
}


#battery {
    background-color: #292c3c;
    margin: 0px 2px;
    padding: 0px 10px;
    color: #c6a0f6;
    border: 2px solid #a6da95;
    border-radius: 15;
}

#battery:hover {
    box-shadow: inherit;
    background-color: #232533;
    color: #a6da95;
    border-radius: 15;
}


#network {
    background-color: #292c3c;
    margin: 0px 2px;
    padding: 0px 10px;
    color: #c6a0f6;
    border: 2px solid #a6da95;
    border-radius: 15;
}

#network:hover {
    box-shadow: inherit;
    background-color: #232533;
    border-radius: 15;
    color: #a6da95;
}

#pulseaudio {
    background-color: #292c3c;
    margin: 0px 2px;
    padding: 0px 10px;
    color: #c6a0f6;
    border: 2px solid #a6da95;
    border-radius: 15;
}

#pulseaudio:hover {
    box-shadow: inherit;
    background-color: #232533;
    border-radius: 15;
    color: #a6da95;
}
